*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.header__top {
    background: #040d0d top no-repeat;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
}

.menu__body {
    width: 100%;
    margin: 10px 0;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-list li .menu__link {
    color: #bdc3c5;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.menu__link_view::after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    content: "\25BC";
    color: #ff5816;
}

.burger-menu__wrapper {
    display: none;
}

.menu-divider {
    position: absolute;
    right: -16px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-divider__block {
    width: 1px;
    height: 1px;
    background-color: #323232;
}

.burger-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 1140px) {
    label {
        display: block;
        cursor: pointer;
        color: yellow;
    }

    .burger-menu__wrapper {
        display: block;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        color: #ffffff;
        /*border-bottom: 1px solid white;*/
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }

    /* menu */
    .header .burger-menu {
        font-family: 'Roboto', sans-serif;
        /*clear: both;*/
        z-index: 6;
        background-color: black;
        color: white;
        height: 100vh;
        transition: all .2s ease-out;
    }

    /* menu icon */
    .header .menu-icon {
        position: absolute;
        left: 50%;
        cursor: pointer;
        padding: 10px 0;
    }

    .header .menu-icon .navicon {
        background: #ff6834;
        display: block;
        height: 2px;
        position: absolute;
        z-index: 10;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #ff6834;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */
    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .burger-menu {
        left: 0;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        right: 100px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .menu__body .menu__link {
        display: none;
    }

    #toggle:checked + .menu__body {
        display: block;
    }
}

@media only screen and (min-width: 320px) {
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
        right: -200px;
    }
}

/* Header_Bottom */

.hdr__top {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 13px;
}

.hdr__top a {
    color: #4673ab;
}

.hdr__top-region a {
    border-bottom: 1px dotted #4673ab;
    text-decoration: none;
}

.hdr__top-signin {
    margin-right: 20px;
}

.hdr__top-login a:hover {
    color: #ff5816;
}

.hdr__bottom {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    position: relative;
}

.hdr__bottom-logo {
    display: inline-block;
    text-decoration: none;
}

.hdr__bottom-logo:hover .hdr__bottom-img {
    color: #ff5816;
}

.hdr__bottom-img {
    font-size: 46px;
    font-weight: 300;
    color: #040d0d;
    letter-spacing: .1px;
}

.hdr__bottom-img > div {
    display: inline-block;
    font-weight: 400;
    line-height: 95%;
    color: #ff5816;
    background: url(../images/bgr.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 3px;
}

.hdr__bottom-slogan {
    color: #818588;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .8px;
}

.hdr__bottom-contact {
    font-size: 13px;
    position: relative;
    color: #040d0d;
    margin-left: 100px;
}

.hdr__bottom-contact p {
    margin-bottom: 3px;
}

.hdr__bottom-phone {
    font-size: 22px;
}

.hdr__bottom-apps {
    background: url(../images/apps.png) no-repeat left center;
    padding: 2px 0 2px 40px;
}

.hdr__bottom-email a {
    color: #4673ab;
}

.hdr__bottom-recall {
    position: absolute;
    left: -125px;
    top: 0;
    width: 112px;
    height: 57px;
    background: url(../images/cloud.png) center center no-repeat;
    padding: 10px 10px 0 0;
    text-align: center;
}

.hdr__bottom-recall a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #4673ab;
    border-bottom: 1px dotted #4673ab;
}

.hdr__bottom-search-text {
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    background: url(../images/money.png) left center no-repeat;
    padding-left: 30px;
}

.hdr__bottom-search-text p:first-child {
    color: #ff6835;
}

.hdr__bottom-search-form {
    margin-top: 15px;
}

.hdr__bottom-form {
    background: #eff0f4;
    border-radius: 3px;
    padding: 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.hdr__bottom-form-input {
    border: none;
    background: transparent;
    width: 70%;
    padding-left: 15px;
    height: 26px;
    position: absolute;
}

.hdr__bottom-form-input:focus, .hdr__bottom-form-btn:focus {
    border: none;
    outline: none;
}

.hdr__bottom-form-btn {
    padding: 3px 10px;
    background-color: #ff5816;
    height: 26px;
    border-radius: 3px;
    color: #fff;
}

.hdr__bottom-form-btn:hover {
    cursor: pointer;
    box-shadow: inset 0 -2px 0 0 #c44411;
}

.hdr__bottom-basket-link {
    display: inline-block;
    text-decoration: none;
    color: #040d0d;
    background: url(../images/bgr.jpg);
    background-size: cover;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 13px;
    width: 100%;
}

.hdr__bottom-basket-img {
    width: 26px;
    height: 22px;
    float: left;
    margin: 5px 15px 0 0;
}

.hdr__bottom-basket-text {
    font-weight: 500;
    text-transform: uppercase;
}

.hdr__bottom-total-products {
    color: #4673ab;
    border-bottom: 1px solid #4673ab;
}

.hdr__bottom-fav {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 200px;
}

.hdr__bottom-fav-link {
    text-decoration: none;
    border-bottom: 1px dotted #4673ab;
    color: #363c3e;

}

.hdr__bottom-fav-link img {
    width: 15px;
    height: 18px;
    margin: 0 3px 2px 0;
    vertical-align: middle;
}

.hdr__bottom-fav-link span {
    color: #4673ab;
}

.hdr__bottom-skype {
    display: none;
}

.hdr__bottom-cart-mob {
    display: none;
}
@media only screen and (max-width: 740px) {

    .hdr__bottom-cart-mob {
        display: block;
    }
    .hdr__top {
        margin: 12px 5px 0;
    }

    .hdr__top-signin {
        display: none;
    }

    .hdr__bottom-slogan {
        display: none;
    }

    .hdr__bottom-recall {
        display: none;
    }

    .hdr__bottom-search {
        display: none;
    }

    .hdr__bottom-cart {
        display: none;
    }

    .hdr__bottom-shedule {
        display: none;
    }

    .hdr__bottom-contact {
        margin-left: 5px
    }

    .hdr__bottom-img {
        font-size: 28px;
    }

    .hdr__bottom {
        display: block;
    }

    .hdr__bottom-phone {
        font-size: 18px;
    }

    .hdr__bottom-email {
        position: absolute;

        top: 0;
        right: 0;
        margin-right: 5px;
    }

    .hdr__bottom-skype {
        display: block;
        position: absolute;
        background: url(../images/skype.png) no-repeat left center;

        padding: 2px 0 2px 20px;
        top: 0;
        right: 0;
        margin-top: 25px;

        margin-right: 5px;
    }

    .news__banner-box {
        display: none;
    }

    .new-items {
        display: contents;
    }

    .hdr__bottom-basket-img {

    }

    .hdr__bottom-cart-mob {
        position: absolute;
        top: 0;
        right: 0;
    }

    .hdr__bottom-basket-search {
        float: left;
        margin: 5px 15px 0 0;
    }

    .buy-now {
        display: none;
    }

    .brands {
        display: none;
    }

    .section-strengths {
        display: none;
    }

    .reasons {
        display: none;
    }

    .numbers {
        display: none;
    }

    .about__inner {
        display: none;
    }


    .work__content-item-div {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 130px;

    }
}

@media only screen and (max-width: 320px) {

    .hdr__top {
        margin: 12px 5px 0;
    }

    .hdr__top-signin {
        display: none;
    }

    .hdr__bottom-slogan {
        display: none;
    }

    .hdr__bottom-recall {
        display: none;
    }

    .hdr__bottom-search {
        display: none;
    }

    .hdr__bottom-cart {
        display: none;
    }

    .hdr__bottom-shedule {
        display: none;
    }

    .hdr__bottom-contact {
        margin-left: 5px
    }

    .hdr__bottom-img {
        font-size: 28px;
    }

    .hdr__bottom {
        display: block;
    }

    .hdr__bottom-phone {
        font-size: 18px;
    }

    .hdr__bottom-email {
        position: absolute;

        top: 0;
        right: 0;
        margin-right: 5px;
    }

    .hdr__bottom-skype {
        display: block;
        position: absolute;
        background: url(../images/skype.png) no-repeat left center;

        padding: 2px 0 2px 20px;
        top: 0;
        right: 0;
        margin-top: 25px;

        margin-right: 5px;
    }

    .news__banner-box {
        display: none;
    }

    .new-items {
        display: contents;
    }

    .hdr__bottom-basket-img {

    }

    .hdr__bottom-cart-mob {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .hdr__bottom-basket-search {
        float: left;
        margin: 5px 15px 0 0;
    }

    .buy-now {
        display: none;
    }

    .brands {
        display: none;
    }

    .section-strengths {
        display: none;
    }

    .reasons {
        display: none;
    }

    .numbers {
        display: none;
    }

    .about__inner {
        display: none;
    }


    .work__content-item-div {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 130px;

    }
    .work__content-item-div:not(:nth-child(2n)) {
        background: url(../images/arrow.png) 90% 30% no-repeat;
        display: table;
    }

    .work__content-item-div {

    }

}


/*New-items*/

.new-items {
    margin-top: 40px;
}

.new-items__header {
    border-bottom: 1px solid #dbdee6;
    text-align: center;
    height: 10px;

    display: flex;
    justify-content: space-between;
}

.new-h {
    background: white;
    height: 20px;
    padding: 0 25px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-weight: bold;

}

.new-all {
    background: white;
    height: 20px;
    padding: 0 0 0 10px;
    color: #4673ab;
    font-size: 80%;
}

.new-items__body {
    position: relative;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
    padding-top: 5px;
    max-height: 394px;
    margin-top: 50px;
}

.new-slider {
    margin: 0 auto;
}

.slider-list {
    height: 400px;
}

.n-img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 50%;
    display: block;
    cursor: pointer;
}

.carousel-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 388px;
    width: 234px;


    border: 1px solid #bdc3c5;
    border-radius: 15px;

    margin: 0 14px 5px;
    padding-top: 35px;
}

.carousel-item:before {
    position: absolute;

    background: #42c16c;
    border-radius: 1px 1px 7px 7px;

    width: 34px;
    height: 34px;

    font-size: 13px;

    line-height: 34px;
    text-align: center;
    left: 15px;
    top: -5px;

    content: "NEW";
    color: #fff;
    z-index: 5;
}

.carousel-item:after {
    position: absolute;

    background: #42c16c;
    content: "";

    width: 21px;
    height: 21px;
    transform: rotate(45deg);

    top: 17px;
    left: 22px;

    z-index: 1;
}


.item {
    padding: 20px 10px;
    color: #4673ab;
    font-weight: bold;
}

.buy-p {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.sale {
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

.price {
    color: #ff743d;
    padding-left: 10px;
    font-size: 13px;
    text-decoration: line-through;
}

.buy-b {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.buy-button {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 115px;
    height: 40px;

    background: #ff5e1e;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;

    cursor: pointer;
    margin-left: 10px;
    padding-right: 10px;
}

.buy-img {
    margin-left: 16px;
}

.buy-a {
    color: #4673ab;
    font-size: 15px;
    margin-right: 10px;
}

.new-button {
    display: none;
}

@media only screen and (max-width: 979px) {
    .new-all {
        display: none;
    }

    .rec-all {
        display: none;
    }

    .shares-all {
        display: none;
    }

    .sale-all {
        display: none;
    }

    .newArrow {
        display: inline;
        color: #ff5816;
        background: white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #bdc3c5;

    }

    .new-button {
        display: inline;
        background: white;
        height: 20px;
        padding-left: 10px;
    }

}

/*recommendations*/


.rec-items {
    margin-top: 40px;
}

.rec__header {
    border-bottom: 1px solid #dbdee6;
    text-align: center;
    height: 10px;

    display: flex;
    justify-content: space-between;
}

.rec-h {
    background: white;
    height: 20px;
    padding: 0 25px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-weight: bold;

}

.rec-all {
    background: white;
    height: 20px;
    padding: 0 0 0 10px;
    color: #4673ab;
    font-size: 80%;
}

.rec__body {
    position: relative;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
    padding-top: 5px;
    max-height: 394px;
    margin-top: 50px;
}

.carousel-rec {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 388px;
    width: 234px;


    border: 1px solid #bdc3c5;
    border-radius: 15px;

    margin: 0 14px 5px;
    padding-top: 35px;
}

.carousel-rec:before {
    position: absolute;

    background: #f7c159;
    border-radius: 1px 1px 7px 7px;

    width: 34px;
    height: 34px;

    font-size: 20px;

    line-height: 34px;
    text-align: center;
    left: 15px;
    top: -5px;
    z-index: 5;
    content: "👍";
    color: #fff;
}

.carousel-rec:after {
    position: absolute;

    background: #f7c159;
    content: "";

    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    z-index: 1;
    top: 17px;
    left: 22px;
}

/*sale*/

.sale-items {
    margin-top: 40px;
}

.sale__header {
    border-bottom: 1px solid #dbdee6;
    text-align: center;
    height: 10px;

    display: flex;
    justify-content: space-between;
}

.sale-h {
    background: white;
    height: 20px;
    padding: 0 25px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-weight: bold;

}

.sale-all {
    background: white;
    height: 20px;
    padding: 0 0 0 10px;
    color: #4673ab;
    font-size: 80%;
}

.sale__body {
    position: relative;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
    padding-top: 5px;

    max-height: 394px;
    margin-top: 50px;
}

.carousel-sale {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 388px;
    width: 234px;


    border: 1px solid #bdc3c5;
    border-radius: 15px;

    margin: 0 14px 5px;
    padding-top: 35px;
}

.carousel-sale:before {
    position: absolute;

    background: #499ad9;
    border-radius: 1px 1px 7px 7px;

    width: 34px;
    height: 34px;


    line-height: 34px;
    text-align: center;
    left: 15px;
    top: -5px;
    z-index: 5;
    content: "%";
    font-size: 20px;
    color: #fff;
}

.carousel-sale:after {
    position: absolute;

    background: #499ad9;
    content: "";

    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    z-index: 1;
    top: 17px;
    left: 22px;
}

/*shares*/
.shares-items {
    margin-top: 40px;
}

.shares__header {
    border-bottom: 1px solid #dbdee6;
    text-align: center;
    height: 10px;

    display: flex;
    justify-content: space-between;
}

.shares-h {
    background: white;
    height: 20px;
    padding: 0 25px 0 0;
    font-size: 130%;
    text-transform: uppercase;
    font-weight: bold;

}

.shares-all {
    background: white;
    height: 20px;
    padding: 0 0 0 10px;
    color: #4673ab;
    font-size: 80%;
}

.shares__body {
    position: relative;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
    padding-top: 5px;

    max-height: 394px;
    margin-top: 50px;
}

.carousel-shares {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 388px;
    width: 234px;


    border: 1px solid #bdc3c5;
    border-radius: 15px;

    margin: 0 14px 5px;
}

.item-sh {
    padding: 13px 10px;
    color: #4673ab;
    font-weight: bold;
    width: 100%;
}

.sh-p {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 80%;
}

.timer__body {
    background: #dbdee6;

    width: 100%;
    height: 65px;
    margin-top: 24px;

    padding: 10px 10px;
    font-size: 13px;

    display: flex;
    justify-content: space-around;
}

.timer-sh {
    display: flex;
}

.t-sh {
    height: 30px;
    font-size: 110%;
    line-height: 30px;

    padding: 0 3px;
    font-weight: bold;
    color: #dbdee6;
    background-color: #262626;
    border-radius: 2px;

}

.dhm {
    display: flex;
    justify-content: space-between;
}


/*RangeMenu*/


.assortmentMenu__body {
    font-size: 80%;
    border-radius: 8px;
    height: 48px;
    background: #ff5816;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: inset 0 -3px 0 0 #c44411;
}

.assortmentMenu-list {
    height: 48px;
    flex-wrap: nowrap;
    position: absolute;
    width: 1127px;
    list-style: none;
}

.assortmentMenu-list-item {
    position: relative;
}

.assortmentMenu-list-item:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #ff8f62;
}

.assortmentMenu-list-item  {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 80%;
    display: block;
    padding: 10px 10px 6px 10px;
    text-decoration: none;
    cursor: default;
}

.assortmentMenu-list-item:hover {
    background-color: #ff743d;
    text-decoration: underline;
    cursor: pointer;
}

.flx {
    display: flex;
}

.rm-arr {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #d94206 url(../images/rm-arr1.png) center center no-repeat;
    transition: all ease 0.1s;
}

.first {
    top: 0;
    z-index: 5;
    opacity: 0;
    transform: rotate(180deg);
}

.second {
    right: 0;
    opacity: 0;
    z-index: 5;
}

.first:hover {
    opacity: 1;
}

.second:hover {
    opacity: 1;
}

/*News*/

.news {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.left__news {
    width: 23%;
}

.news-h {
    color: #2c3333;
    font-size: 110%;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: #dbdee6 1px solid;
}

.news-list {
    margin-top: 30px;
    height: 400px;
    overflow: hidden;
}

.news-list .news-p {
    width: 210px;
    font-size: 80%;
    padding-left: 10px;
}

.news-list .news-p a {
    color: #4673ab;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.news-p a:hover {
    color: #ff5816;
    text-decoration: underline;
}

.news-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: #dbdee6 1px dashed;
}

.news-list .img {
    width: 60px;
}

.news-date {
    color: #040d0d;
    text-transform: lowercase;
    margin-top: -20px;
}

.news-date div {
    background: white;
    display: inline-block;
    color: #ff5816;
    font-size: 120%;
    font-weight: bold;
    line-height: 27px;
    width: 37px;
    border-radius: 5px;

}

.news-list .img {
    text-align: center;
    text-decoration: none;
}

.news-all {
    display: block;
    margin-top: 10px;
    font-size: 80%;
    color: #4673ab;
}

.news-all:hover {
    color: #ff5816;
    text-decoration: underline;
}

/* Slider_Box */
.banner-box__info {
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
    background: #e3e5eb;
    border-radius: 10px;
    text-align: center;
    padding: 18px 20px;
}

.banner-box__info span {
    color: #4673ab;
    font-weight: 700;
}

.banner-box__slider {
    max-width: 846px;
    /*min-width: 546px;*/
    margin-top: 32px;
    position: relative;
}

.banner-box__slider img {
    border-radius: 10px;
}

.banner-box__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    z-index: 5;
}

.banner-box__slider-btnprev {
    left: 20px;
}

.banner-box__slider-btnnext {
    right: 20px;
}

.banner-box__slider-link {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    display: inline-block;
    width: 154px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    padding: 9px 0;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #c4c4c4;
    margin-left: 66px;
    text-transform: uppercase;
    color: #4673ab;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}

.banner-box__slider-link:hover {
    background-color: #e0dede;
}

.slick-dots {
    position: absolute;
    bottom: 18px;
    right: 18px;
}

.slick-dots li {
    display: inline-block;
    padding: 5px 0;
    margin-right: 3px;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    outline: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.slick-active button {
    background-color: #ff5816;
}

/* Sections */
.section-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #040d0d;
}

/* Section Buy_Now */
.buy-now {
    margin-top: 45px;
}

.buy-now__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border.gif) center center repeat-x;
}

.buy-now__header > p {
    background-color: #fff;
    padding-right: 7px;
}

.buy-now__list-img {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 45px;
    align-items: center;
}

.buy-now__list-link {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.buy-now__link-item {
    flex-basis: 23%;
}

.buy-now__list-link a {
    color: #4673ab;
    font-size: 16px;
    font-weight: 500;
}

/* Section Brands */

.brands {
    margin-top: 45px;
}

.brands__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border.gif) center center repeat-x;
}

.brands__header > p {
    background-color: #fff;
    padding-right: 20px;
}

.brands__header > a {
    font-size: 13px;
    color: #4673ab;
    background-color: #fff;
    padding-left: 10px;
    text-transform: none;
}

.brands__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 50px 0;
    align-items: center;
}

/* Section Strengths */

.strengths {
    background-color: #e3e5eb;
    padding: 38px 28px;
    border-radius: 10px;
}

.strengths__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border_w.gif) center center repeat-x;
}

.strengths__header p {
    background-color: #e3e5eb;
    padding-right: 20px;
}

.strengths__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 50px auto 0;
    text-align: center;
}

.strengths__list-item {
    flex-basis: 20%;
}

.strengths__list-item > a {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    line-height: 100%;
    background: #fff;
    vertical-align: middle;
}

.strengths__list-item a > img {
    margin-top: 50%;
    transform: translateY(-50%);
}

.strengths__list-item > p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Section Reasons */
.reasons {
    margin: 45px 0 35px 0;
}

.reasons__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border.gif) center center repeat-x;
}

.reasons__header > p {
    background-color: #fff;
    padding-right: 10px;
}

.reasons__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.reason__inner-text {
    width: 49%;
    border-radius: 10px;
    overflow: hidden;
}

.reason__inner-text-bad {
    border: 2px solid #f6bdbf;
}

.reason__inner-text-good {
    border: 2px solid #9bd1a6;
}

.reason__inner-header {
    height: 75px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0 0 30px;
}

.reason__inner-header > img {
    float: left;
    margin: 7px 15px 0 0;
    vertical-align: middle;
}

.reason__inner-header-bad {
    background: #cb0b13;
}

.reason__inner-header-bad > img {
    width: 23px;
    height: 23px;
}

.reason__inner-header-good {
    background: #16a333;
}

.reason__inner-header-good > img {
    width: 27px;
    height: 27px;
}

.reason_inner-list {
    padding: 10px 30px;
    margin: 0 10px;
}

.reason_inner-list-bad {
    color: #cb0b13;
}

.reason_inner-list-good {
    color: #16a333;
}

.reason__inner-list-div {
    color: #040d0d;
}

.reason__inner-list-item {
    list-style: disc;
    padding-left: 10px;
    margin: 10px;
    font-size: 15px;
}

.reason__inner-list-item span {
    font-weight: 500;
}

/* Section_Numbers */

.numbers {
    margin-top: 40px;
}

.numbers__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border.gif) center center repeat-x;
}

.numbers__header > p {
    background-color: #fff;
    padding-right: 18px;
}

.numbers__list {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}

.numbers__list-item {
    width: 150px;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
}

.numbers__list-item > div {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #dbdee6;
    line-height: 130px;
    font-weight: bold;
    color: #ff5816;
    font-size: 80px;
    margin: 0 auto 15px;
    overflow: hidden;
}

.numbers__list-item-sd > div {
    font-size: 54px;
}

.numbers__list-item-td > div {
    font-size: 36px;
    line-height: 70%;
}

.numbers__list-item-td span {
    font-size: 19px;
}

.numbers__list-item:nth-child(even) > div {
    color: #394a5c;
}

/* Section Work */
.work {
    margin-top: 40px;
}

.work__header {
    display: flex;
    justify-content: space-between;
    background: url(../images/border.gif) center center repeat-x;
}

.work__header > p {
    background-color: #fff;
    padding-right: 10px;
}

.work-section__inner {
    margin-top: 40px;
}

.work__menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;


    flex-wrap: wrap;

}

.work__menu > * {
    padding: 15px 22px;
    font-size: 15px;
    text-decoration: underline dotted #ff5816;
    color: #ff5816;
    border-radius: 10px;

    margin: 3px;
    background-color: #dbdee6;
    text-transform: uppercase;
    font-weight: 700;
}

.work__menu-link span {
    border-bottom: 1px dotted #ff5816;
}

.work__menu-link:hover, .work__menu-link--active {
    color: #040d0d;
    background: #fff;
    cursor: pointer;
    text-decoration: none;
}

.work__menu-link--active span {
    border-bottom: none;
}

.work__content {
    margin-top: 80px;
}

.work__content-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work__content-item-div {
    flex-basis: 25%;
    display: flex;
    font-size: 15px;
}

.work__content-item-div:not(:last-child) {
    background: url(../images/arrow.png) 90% 30% no-repeat;
}

.work__content-item-div span {
    display: inline-block;
    width: 48px;
    height: 70px;
}

.work__content-item-span1 {
    background: url(../images/work_call.png) no-repeat;
}

.work__content-item-span2 {
    background: url(../images/work_order.png) no-repeat;
}

.work__content-item-span3 {
    background: url(../images/work_del.png) no-repeat;
    margin-right: 5px;
}

.work__content-item-span4 {
    background: url(../images/work_pay.png) no-repeat;
}

/* Section About */
.about {
    margin-top: 50px;
}

.about__inner {
    border-top: 1px solid #dbdee6;
    padding-top: 40px;
    column-count: 2;
    column-gap: 40px;
    min-height: 300px;
}

.about__inner > p {
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 1.5;
}

.about__inner a {
    color: #ff5816;
}

/*footer*/

footer {
    background: #5c7489;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 0;
    position: relative;
}

.footer__body {
    width: 100%;
    min-width: 320px;
    color: #c8d4dc;
    display: flex;
    justify-content: space-between;
}


.r1__bottom-logo {
    display: inline-block;
    text-decoration: none;
}

.r1__bottom-logo:hover .hdr__bottom-img {
    color: #ff5816;
}

.r1__bottom-img {
    font-size: 212%;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: .1px;
}

.r1__bottom-img > div {
    display: inline-block;
    font-weight: 400;
    line-height: 95%;
    color: #ff5816;
    background: url(../images/bgr.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 3px;
}

.r1__bottom-slogan {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50%;
    letter-spacing: .8px;
}

.r1 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.r3 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.r4 {
    display: flex;
    flex-direction: column;
    width: 20%;
}


.r1-h {
    font-size: 90%;
    margin-top: 20px;
    color: #ffffff;
}

.r2 {
    width: 25%;
    margin-top: -40px;
}

.r2__bottom-contact {
    font-size: 13px;
    position: relative;
    color: #ffffff;
    margin-left: 100px;
}

.r2__bottom-contact p {
    margin-bottom: 3px;
}

.r2__bottom-phone {
    font-size: 22px;
}

.r2__bottom-apps {
    background: url(../images/apps.png) no-repeat left center;
    padding: 2px 0 2px 40px;
}

.r2__bottom-email a {
    color: #ffffff;
}

.footer__bt {
    background: #2c3f53;
    padding: 20px 0;
}

.footer-p {
    width: 60%;
    color: #c8d4dc;
    font-size: 70%;
}

.footer-bt__body {
    display: flex;
    justify-content: space-between;
}

.n-img2 {
    position: absolute;
    margin: auto;
    right: 0;
    top: 50%;
    display: block;


    cursor: pointer;
}

.footer-cloud {
    width: 115px;
    text-align: center;
    position: relative;
    right: 50px;
    top: 60px;
}

.tel-cloud {
    text-decoration: none;
    border-bottom: 1px dashed #527cb1;
    color: #527cb1;
    font-size: 90%;
    cursor: pointer;
}

.cloud {
    position: absolute;
    top: 8px;
    right: 12px;
}

@media only screen and (max-width: 740px) {

    .footer__body {
        display: contents;
    }

    .r2 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -130px;
         position: absolute;
         right: 0;
        top: 325px;

        order: 4;

        width: auto;

    }

    .r3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -40px;
    }

    .r3 a {
        padding-bottom: 10px;
        padding-left: 15px;

        border-bottom: #fff 1px solid;
        text-decoration: none;


    }

    .r1 {
        order: 4;
        width: 50%;
        font-size: 70%;
        padding-left: 5px;
    }

    .r4 {
        display: none;
    }

    .footer-cloud {
        display: none;
    }

    .footer-p {
        display: none;
    }

    .footer-bt__body {
        display: flex;

        justify-content: center;
    }

    .r2__bottom-phone {
        font-size: 16px;
    }
    .r2__bottom-skype {
        background: url(../images/skype.png) no-repeat left center;
        padding: 2px 0 2px 20px;
    }
    .r2__bottom-shedule {
        display: none;
    }
    .p{
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .r2 {
        display: flex;
        flex-direction: row-reverse;

        order: 4;
        width: auto;
    }

    .r2__bottom-shedule {
        display: none;
    }

    .r2__bottom-skype {
        background: url(../images/skype.png) no-repeat left center;
        padding: 2px 0 2px 20px;
    }
}

@media only screen and (max-width: 1139px) {
    .news {
        width: 1140px;
        margin: 20px;
    }
}
@media only screen and (max-width: 980px) {
    .news {
        position: relative;
    }
    .news__banner-box {
        position: absolute;
        width: 50%;
        right: 200px;
    }
    .hdr__bottom-search {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    .left__news {
        display: none;
    }

}

@media only screen and (max-width: 1139px) {
    .assortmentMenu__body {
        display: none;
    }
}
