*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.header__top {
    background: #040d0d top no-repeat;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    min-width: 320px;

    margin: 0 auto;
}

.menu__body {
    width: 100%;
    margin: 10px 0;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-list li .menu__link {
    color: #bdc3c5;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.menu__link_view::after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    content: "\25BC";
    color: #ff5816;
}

.burger-menu__wrapper {
    display: none;
}

.menu-divider {
    position: absolute;
    right: -16px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-divider__block {
    width: 1px;
    height: 1px;
    background-color: #323232;
}

.burger-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 1140px) {
    label {
        display: block;
        cursor: pointer;
        color: yellow;
    }

    .burger-menu__wrapper {
        display: block;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        color: #ffffff;
        /*border-bottom: 1px solid white;*/
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }

    /* menu */
    .header .burger-menu {
        font-family: 'Roboto', sans-serif;
        /*clear: both;*/
        background-color: black;
        color: white;
        height: 100vh;
        transition: all .2s ease-out;
    }

    /* menu icon */
    .header .menu-icon {
        position: absolute;
        left: 50%;
        cursor: pointer;
        padding: 10px 0;
    }

    .header .menu-icon .navicon {
        background: #ff6834;
        display: block;
        height: 2px;
        position: absolute;
        z-index: 10;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #ff6834;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */
    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .burger-menu {
        left: 0;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        right: 100px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .menu__body .menu__link {
        display: none;
    }

    #toggle:checked + .menu__body {
        display: block;
    }
}

/* Header_Bottom */

.hdr__top{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 13px;
}
.hdr__top a{
    color: #4673ab;
}
.hdr__top-region a { 
    border-bottom: 1px dotted #4673ab;
    text-decoration: none;
}
.hdr__top-signin{
    margin-right: 20px;
}
.hdr__top-login a:hover{
    color: #ff5816;
}
.hdr__bottom{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.hdr__bottom-logo{
    display: inline-block;
    text-decoration: none;
}
.hdr__bottom-logo:hover .hdr__bottom-img{
    color: #ff5816;
}
.hdr__bottom-img{
    font-size: 46px;
    font-weight: 300;
    color: #040d0d;
    letter-spacing: .1px;
}
.hdr__bottom-img > div{
    display: inline-block;
    font-weight: 400;
    line-height: 95%;
    color: #ff5816;
    background: url(../images/bgr.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 3px;
}
.hdr__bottom-slogan{
    color: #818588;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .8px;
}
.hdr__bottom-contact{
    font-size: 13px;
    position: relative;
    color: #040d0d;
    margin-left: 100px;
}
.hdr__bottom-contact p{
    margin-bottom: 3px;
}
.hdr__bottom-phone{
    font-size: 22px;
}
.hdr__bottom-apps{
    background: url(../images/apps.png) no-repeat left center;
    padding: 2px 0 2px 40px;
}
.hdr__bottom-email a{
    color: #4673ab;
}
.hdr__bottom-recall{
    position: absolute;
    left: -125px;
    top: 0;
    width: 112px;
    height: 57px;
    background: url(../images/cloud.png) center center no-repeat; 
    padding: 10px 10px 0 0;
    text-align: center;
}
.hdr__bottom-recall a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color:#4673ab;
    border-bottom: 1px dotted #4673ab;
}
.hdr__bottom-search-text{
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    background: url(../images/money.png) left center no-repeat;
    padding-left: 30px;
}
.hdr__bottom-search-text p:first-child{
    color: #ff6835;
}
.hdr__bottom-search-form{
    margin-top: 15px;
}
.hdr__bottom-form{
    background: #eff0f4;
    border-radius: 3px;
    padding: 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.hdr__bottom-form-input{
    border: none;
    background: transparent;
    width: 70%;
    padding-left: 15px;
    height: 26px;
}

.hdr__bottom-form-input:focus, .hdr__bottom-form-btn:focus{
    border: none;
    outline: none;
}
.hdr__bottom-form-btn{
    padding: 3px 10px;
    background-color: #ff5816;
    height: 26px;
    border-radius: 3px;
    color: #fff;
}
.hdr__bottom-form-btn:hover{
    cursor: pointer;
    box-shadow: inset 0 -2px 0 0 #c44411;
}
.hdr__bottom-basket-link{
    display: inline-block;
    text-decoration: none;
    color: #040d0d;
    background: url(../images/bgr.jpg);
    background-size: cover;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 13px;
    width: 100%;
}
.hdr__bottom-basket-img{
    width: 26px;
    height: 22px;
    float: left;
    margin: 5px 15px 0 0;
}
.hdr__bottom-basket-text{
    font-weight: 500;
    text-transform: uppercase;
}
.hdr__bottom-total-products{
    color: #4673ab;
    border-bottom: 1px solid #4673ab;
}
.hdr__bottom-fav{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 200px;
}
.hdr__bottom-fav-link{
    text-decoration: none;
    border-bottom: 1px dotted #4673ab;
    color: #363c3e;
    
}
.hdr__bottom-fav-link img{
    width: 15px;
    height: 18px;
    margin: 0 3px 2px 0;
    vertical-align: middle;
}
.hdr__bottom-fav-link span{
    color: #4673ab;
}


/*RangeMenu*/

.assortmentMenu__body {
    font-size: 15px;
    border-radius: 8px;
    height: 48px;
    background: #ff5816;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: inset 0 -3px 0 0 #c44411;
}

.assortmentMenu-list {
    height: 48px;
    flex-wrap: nowrap;
    position: absolute;
    width: 1127px;
    list-style: none;
}

.assortmentMenu-list > li {
    position: relative;
    background: #ff5816;
    border-bottom: #c44411 3px solid;
}

.assortmentMenu-list > li:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #ff8f62;
}

.assortmentMenu-list > li > * {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 70%;

    display: block;
    padding: 10px 10px 0 10px;

    text-decoration: none;
    cursor: default;
}

.flx {
    display: flex;
}

.rm-arr {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #d94206 url(../img/rm-arr1.png) center center no-repeat;
    transition: all ease 0.1s;
}

.first {
    top: 0;
    z-index: 5;
    opacity: 0;
    transform: rotate(180deg);
}

.second {
    right: 0;
    opacity: 0;
    z-index: 5;
}

.first:hover {
    opacity: 1;
}

.second:hover {
    opacity: 1;
}

/*News*/

.news {
    width: 1140px;
    margin-top: 20px;
}

.left__news {
    width: 25%;
}

.news-h {
    color: #2c3333;
    font-size: 110%;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: #dbdee6 1px solid;
}

.news-list {
    margin-top: 30px;
}

.news-list .news-p {
    width: 210px;
    font-size: 80%;

}

.news-list .news-p a {
    color: #4673ab;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.news-p a:hover {
    color: #ff5816;
    text-decoration: underline;
}

.news-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: #dbdee6 1px dashed;
}

.news-list .img {
    width: 60px;
}
.news-date {
    color: #040d0d;
    text-transform: lowercase;
    margin-top: -20px;
}

.news-date div {
    background: white;
    display: inline-block;
    color: #ff5816;
    font-size: 120%;
    font-weight: bold;
    line-height: 27px;
    width: 37px;
    border-radius: 5px;

}
.news-list .img {
    text-align: center;
    text-decoration: none;
}

.news-all {
    font-size: 80%;
    color: #4673ab;
}
.news-all:hover {
    color: #ff5816;
    text-decoration: underline;
}

@media only screen and (max-width: 1139px) {
    .assortmentMenu__body {
        display: none;
    }
}


